<div class="container">
    <h2>{{ imovel.titulo }}</h2>
    <section class="product-details">
        <img [src]="imovel.foto" alt="Foto de {{ imovel.titulo }}" />
        <div class="product-description">
            <p>{{ imovel.descricao }}</p>
            <p>{{ imovel.descricao2 }}</p>
            <p class="warning">Nota: A disponibilidade e o preço estão sujeitos a alterações. Entre em contato conosco para mais informações e agendamento de visitas.</p>
            <h3>Características do Imóvel:</h3>
            <ul>
                <li>Quartos: {{imovel.quartos }}</li>
                <li>Banheiros: {{ imovel.banheiros }}</li>
                <li>Área construída: {{ imovel.area }}m²</li>
                <li>Preço: R${{ imovel.preco }},00</li>
            </ul>  
        </div>  
    </section>
    
    <section id="imoveis-favoritos">
        <h2>Confira aqui os seus imóveis favoritos:</h2>
        <mat-grid-list cols="3" rowHeight="3:4">
            <!-- <div *ngFor="let imovel of imoveis let i = index"> -->
                    <mat-grid-tile *ngIf="imovel.favorito">
                    <mat-card>
                        <img mat-card-image [src]="imovel.foto" [alt]="imovel.titulo" />
                        <mat-card-content>
                            <h3>{{ imovel.titulo }}</h3>
                            <ul>
                                <li>Quartos: {{ imovel.quartos }}</li>
                                <li>Banheiros: {{ imovel.banheiros }}</li>
                                <li>Metragem: {{ imovel.area }} m²</li>
                                <li>Preço: {{ imovel.preco }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <!-- <button 
                          [class]="imovel.favorito === false ? 'favorite' : 'favorite-checked'"
                          [title]="imovel.favoriro === false ? 'Adicionar aos Favoritos' : 'Remover dos Favoritos'"
                          mat-button (click)="toogleFavorito(i)">
                                <mat-icon aria-hidden="false" aria-label="Example favorite icon" fontIcon="favorite"></mat-icon>
                            </button> -->
                            <!-- <button mat-button (click)="verDetalhes(imovel.id)">Mais detalhes</button> -->
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            <!-- </div>
        </mat-grid-list>
    </section>
</div> -->